body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

p {
    color: rgb(85, 81, 81);
    letter-spacing: .5px;
    word-spacing: .8px;
}

.color-orange {
    color: orange;
}

.section-hero {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-bottom: 150px;

}

.hero-txt p {
    margin-bottom: 50px;
}

.width-50 {
    width: 50%;
    margin-left: 5%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    letter-spacing: 1.5px;
    padding: 10px 40px;
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}



.hero-image img {
    width: 87%;
    margin-top: 40px;
}


.section-dream {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 0px;
    margin-bottom: 150px;
}


/* dream section start */
.section-experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    /* margin-left: 0px; */
    margin-bottom: 150px;
}

.developer {
    display: flex;
}

.ex-item {
    box-shadow: 10px 10px 50px black;
    margin: 40px;
    padding: 20px;
    border-radius: 7px;
}

.ex-first {
    border-left: 7px solid tomato;
}

.ex-second {
    border-left: 7px solid green;
}

/* dream section end */

footer {
    text-align: center;
}